html {
  font-size: 8pt;
  font-family: verdana;
  color: #555;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#studio {
  overflow: hidden;
  width: 900px;
  margin: auto;
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #ccc;
}
#studio #header {
  overflow: hidden;
  margin: 10px;
  border-bottom: 1px solid #ccc;
}
#studio #header h1 {
  float: left;
  margin: 0px;
  margin-bottom: 5px;
  padding: 5px;
  font-family: Georgia;
  font-size: 150%;
}
#studio #header #add-functional {
  float: right;
  color: #555 !important;
}
#studio #graph {
  float: left;
  margin: 20px;
  margin-top: 10px;
  width: 500px;
  height: 500px;
  background-color: #fff;
  border: 1px solid #ccc;
}
#studio #settings {
  float: right;
  width: 338px;
  height: 500px;
  margin: 20px;
  margin-top: 10px;
  margin-left: 0px;
  font-size: 80%;
}
#studio #settings #equation {
  margin-top: -20px;
  text-align: center;
  color: #000;
  font-size: 140%;
}
#studio #settings h2 {
  color: #666;
  margin-bottom: 0px;
  border-bottom: 1px solid #ccc;
}
#studio #settings .set {
  padding: 5px 7px;
}
#studio #settings .set .bound {
  font-size: 120%;
}
#studio #settings .set .bound.left {
  float: left;
}
#studio #settings .set .bound.right {
  float: right;
}
#studio #settings .set .axis {
  margin-left: 5px;
}
#studio #settings .set .axis:first-child {
  margin-bottom: 20px;
}
#studio #settings .set .axis h3 {
  font-size: 120%;
  margin: 0px;
  margin-bottom: 5px;
}
#studio #settings .set .axis:first-child h3 {
  margin-top: 5px;
}
#studio #settings .set .axis .bound {
  margin-top: -2px;
}
#studio #settings .set .axis .ui-slider-horizontal {
  margin: 4px 30px;
  margin-left: 35px;
}
.functional .parameters {
  padding: 2px;
  overflow: hidden;
}
.functional .parameters .parameter {
  clear: left;
}
.functional .parameters .parameter h3 {
  float: left;
  width: 70px;
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px 4px;
  background-color: #aaa;
  border: 1px solid #999;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 140%;
  font-weight: normal;
}
.functional .parameters .parameter input.value {
  width: 40px;
  padding: 0px;
  border: 1px dotted #ddd;
  background-color: #fff;
  text-align: center;
}
.functional .parameters .parameter .bound {
  margin-top: 3px;
}
.functional .parameters .parameter .bound.left {
  margin-left: 10px;
}
.functional .parameters .parameter .ui-slider-horizontal {
  margin: 4px 20px;
  margin-left: 115px;
}
.functional .parameters .add-parameter {
  clear: both;
  float: right;
}
svg {
  font: 9px sans-serif;
}
svg text {
  stroke: none;
}
svg path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
}
svg path.line.linear {
  stroke: #000;
}
svg path.line.quadratic {
  stroke: #f00;
}
svg path.line.quintic {
  stroke: #008000;
}
svg path.area {
  fill: #e7e7e7;
}
svg .axis {
  shape-rendering: crispEdges;
}
svg .y.axis line,
svg .y.axis path {
  fill: none;
  stroke: #000;
}
svg .y.axis .minor {
  opacity: 0.5;
}
svg .x.axis line,
svg .x.axis path {
  fill: none;
  stroke: #000;
}
svg .axis {
  stroke: #000;
  stroke-width: 1px;
}
