!!! 5
html
  head
    title 2D Function Studio
    meta(charset="utf-8")
    link(rel='stylesheet', href='css/ui.css')
    link(rel='stylesheet', href='css/overcast/jquery-ui-1.8.20-overcast.css')
    link(rel='stylesheet', href='css/miniColors/jquery.miniColors.css')
    link(rel='stylesheet', href='css/tipsy/jquery.tipsy.css')

  body
    #studio
      #header
        h1 2D Function Studio
        div#add-functional-container.tooltip.tooltip-e(title='You can add additional functions to the graph.')
          a#add-functional(href="#") + Add Function
        div#best-viewed-in
          span (This tool is best used with 
          a(href="https://www.google.com/chrome", target='_blank') Google Chrome
          span )
        br(style="clear:both")
        
      #compatibility
        span Uh oh! Browser Incompatibility.
        p Unfortunately, you're viewing this in a browser that doesn't support the 
          | required plotting functionality (scalable vector graphics). Try one of the browsers below, instead:
        div.recommended
          span Your Best Bet:
          a(href="https://www.google.com/chrome", target='_blank')
            img.chrome(src="/images/chrome_logo.gif")
        div.other
          span Also Good:
          a(href="http://www.getfirefox.com", target='_blank')
            img.firefox(src="/images/firefox-wordmark.png")
          a(href="http://www.apple.com/safari/download/", target='_blank')
            img.safari(src="/images/safari_logo.png")
      
      #graph.tooltip.tooltip-w(title="This is the main graph that displays your functions. You can use the mousewheel or double-click to zoom. (shift+double-click zooms out), and click and drag to change the graph's field of view.")
        #coordinates.tooltip.tooltip-nw(title='This shows the coordinates on the graph of the mouse pointer') (0.00, 0.00)
      a#toggle-help(href="#") Show tips / help
      #functionals
     
      #footer
        hr
        a(href='http://www.chadfulton.com', target='_blank') Chad Fulton
        span &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        a.tooltip.tooltip-se(href='https://bitbucket.org/fulton/function_studio', target='_blank', title="You can take a look at the code that powers this tool, and, if you'd like, contribute something yourself!") source code
        span &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        a.tooltip.tooltip-sw(href='https://bitbucket.org/fulton/function_studio/issues/new', target='_blank', title="If something isn't working right, you can let me know.") report a bug
    
    // templates
    script#function-template(type="text/template")
      | <div class="color"><input type="text" class="colorinput" name="color" value="<%= color %>" /></div>
      | <h3>
      |   <a href="#" title="Remove the function" class="remove-functional round-button">x</a>
      |   <select class="functional-form">
      |     <option value="polynomial"<% if(label == 'Polynomial') print(' selected="selected"') %>>Polynomial: &nbsp;&fnof;(x) = a + b&sdot;x + &hellip;</option>
      |     <option value="hyperbola"<% if(label == 'Hyperbola') print(' selected="selected"') %>>Hyperbola: &nbsp; &fnof;(x) = a + b/x + &hellip;</option>
      |     <option value="log_linear"<% if(label == 'Log-Linear') print(' selected="selected"') %>>Log-Linear: &nbsp;ln(y) = a + b&sdot;x + &hellip;</option>
      |     <option value="linear_log"<% if(label == 'Linear-Log') print(' selected="selected"') %>>Linear-Log: &nbsp;&fnof;(x) = a + b&sdot;ln(x)</option>
      |     <option value="log_log"<% if(label == 'Log-Log') print(' selected="selected"') %>>Log-Log: &nbsp;&nbsp;&nbsp;&nbsp; ln(y) = a + b&sdot;ln(x)</option>
      |   </select>
      | </h3>
      | <div class="equations" style="color:<%= color %>"></div>
      | <label class='show-derivative'>Show derivative: <input type="checkbox" <% if(show_derivative) print('checked="checked"') %> /></label>
      | <label class='show-tangent'>Show tangent line: <input type="checkbox" <% if(show_tangent) print('checked="checked"') %> /></label>
    script#equations-template(type="text/template")
      | <span class='equation map'><%= tex_map %></span>
      | <% if(show_derivative) { %><span class='equation dydx'><%= tex_dydx %></span><% } %>
      | <% if(show_tangent) { %><span class='equation tangent'><%= tex_tangent %></span><% } %> 
    script#parameter-template(type="text/template")
      | <a href="#" title="Clear / remove the parameter" class="remove-parameter round-button">-</a>
      | <h3>
      |   <span><%= parameter %> = </span>
      |   <input class="value" value="<%= value %>" />
      | </h3>
      | <span class="left bound"><%= lbound %></span>
      | <span class="right bound"><%= rbound %></span>
    script#add-parameter-template(type="text/template")
      | <a class='add-parameter' href='#'>+ Add Variable</a>
    script#generate-data-template(type="text/template")
      | <span>Generate Example Datapoints</span>
      | <div class="generate-data-settings">
      |   <a class='toggle-datapoints' href='#'><% if(show_datapoints === false) { %>Generate<% } else { %>Clear<% } %></a>
      |   <label class='number-datapoints'># of points: <input type="text" value="<%= number_datapoints %>" /></label>
      |   <label class='sd'>
      |     <span>Standard Deviation:</span>
      |     <input type="text" value="<%= sd %>" />
      |   </label>
      |   <span class="left bound">0</span>
      |   <span class="right bound">50</span>
      | </div>
      | <div class="regress-data-settings">
      |   <label class='show-regression'>Show regression on generated datapoints: <input type="checkbox" <% if(!show_datapoints) print('disabled="disabled"') %> <% if(show_regression) print('checked="checked"') %> /></label>
      | </div>
    script#lm-results-template(type="text/template")
      |   <div class="lm-results">
      |     <table class="lm-stats" cellpadding="0" cellspacing="0">
      |       <tr>
      |         <td># Obs</td>
      |         <td> = </td>
      |         <td><%= n %></td>
      |       </tr>
      |       <tr>
      |         <td>F (<%= f_df1 %> , <%= f_df2 %>)</td>
      |         <td> = </td>
      |         <td><% print(stringify(f)) %></td>
      |       </tr>
      |       <tr>
      |         <td>Prob > F</td>
      |         <td> = </td>
      |         <td><%= f_p.toFixed(4) %></td>
      |       </tr>
      |       <tr>
      |         <td>s</td>
      |         <td> = </td>
      |         <td><%= Math.pow(s2, 0.5).toFixed(2) %></td>
      |       </tr>
      |     </table>
      |     <table class="r-squared" cellpadding="0" cellspacing="0">
      |       <tr>
      |         <td>R<sup>2</sup></td>
      |         <td> = </td>
      |         <td><%= r2.toFixed(4) %></td>
      |       </tr>
      |       <tr>
      |         <td>Adj R<sup>2</sup></td>
      |         <td> = </td>
      |         <td><%= adj_r2.toFixed(4) %></td>
      |       </tr>
      |     </table>
      |     <table class="coefs">
      |       <tr>
      |         <th class="label"><%= dep %></th>
      |         <th class="b">Coef.</th>
      |         <th class="stderr">Std. Err.</th>
      |         <th class="t-stat">t</th>
      |         <th class="p-value">P>|t|</th>
      |         <th colspan="3">[95% CI]</th>
      |       </tr>
      |     <% for(i=0;i<b.length;i++) { %>
      |       <tr>
      |         <td class="label"><%= b[i].term %></td>
      |         <td class="b"><%= b[i].b.toFixed(4) %></td>
      |         <td class="stderr"><%= b[i].se.toFixed(4) %></td>
      |         <td class="t-stat"><% print(stringify(b[i].tstat, 4)) %></td>
      |         <td class="p-value">
      |           <%= b[i].p.toFixed(2) %>
      |           <% if(b[i].p <= 0.01) { print('**'); } %>
      |           <% if(b[i].p > 0.01 && b[i].p <= 0.05) { print('*&nbsp;&nbsp;'); } %>
      |           <% if(b[i].p > 0.05 && b[i].p <= 0.1) { print('.&nbsp;&nbsp;&nbsp;'); } %>
      |           <% if(b[i].p > 0.10) { print('&nbsp;&nbsp;&nbsp;&nbsp;'); } %>
      |         </td>
      |         <td class="ci_l">[<%= b[i].ci_l.toFixed(2) %></td>
      |         <td>,</td>
      |         <td class="ci_u"><%= b[i].ci_u.toFixed(2) %>]</td>
      |       </tr>
      |     <% } %>
      |     </table>
      |   </div>
    script#range-label-template(type="text/template")
      | <%= which %>-axis range: [<%= Math.abs(range[0]) >= 10 ? Math.round(range[0]) : range[0].toFixed(1) %>, <%= Math.abs(range[1]) >= 10 ? Math.round(range[1]) : range[1].toFixed(1) %>]
    
    // Third-party libraries
    script(type='text/javascript', src='js/libs/jquery/jquery-1.7.2.min.js')
    script(type='text/javascript', src='js/libs/miniColors/jquery.miniColors.min.js')
    script(type='text/javascript', src='js/libs/jquery/jquery-ui-1.8.20.min.js')
    script(type='text/javascript', src='js/libs/tipsy/jquery.tipsy.js')
    script(type='text/javascript', src='js/libs/underscore/underscore-1.3.3.min.js')
    script(type='text/javascript', src='js/libs/backbone/backbone-0.9.2.min.js')
    script(type='text/javascript', src='js/libs/jstat/jstat.min.js')
    script(type='text/javascript', src='js/libs/sylvester/sylvester.js')
    
    // Only include D3 JS if the browser can handle it 
    // if gt IE 8
      script(type='text/javascript', src='js/d3.v2.min.js')
    | <!--[if !IE]> -->
    script(type='text/javascript', src='js/d3.v2.min.js')
    | <!-- <![endif]-->
      
    // Application core
    script(type='text/javascript', src='js/lm.js')
    script(type='text/javascript', src='js/functions.js')
    script(type='text/javascript', src='js/functionals.js?v=8')
    script(type='text/javascript', src='js/studio.js?v=7')