.lm-results
  overflow:hidden;
  
  table.lm-stats
    float:left;
    
    td
      padding:0px 4px;
      
  table.r-squared
    float:right;
    
    td
      padding:0px 4px;
    
  table.coefs
    clear:both;
    width:100%;
    padding-top:10px;
    
    th, td
      text-align:center;
      
    th
      border-bottom:1px solid #ddd;
      
    td.label
      border-right:1px solid #ddd;