round-button()
    display:block;
    width:11px;
    height:11px;
    padding-left:0.5px;
    text-decoration:none;
    text-align:center;
    font-size:7pt;
    font-weight:normal;
    line-height:9px;
    border:1px solid #adadad;
    border-radius:6px;
    background-color:#fff;
    box-shadow:0px 0px 2px #ccc;
    color:#333;
    
    &:hover
        background-color:#f7f7f7;
        
    &:active
        box-shadow:inset 0px 0px 2px #aaa;