svg
  font: 9px sans-serif;
  
  text
    stroke:none;
  
  path.line
    fill: none;
    stroke: #666;
    stroke-width: 1.1px;
    
    &.linear
      stroke: #000;
    &.quadratic
      stroke: red;
    &.quintic
      stroke: green;
  
  path.dydx
    /*stroke-dasharray: 0.5,0.5;*/
    
  line.tangent
    /*stroke-dasharray: 0.5,0.5;*/
    
  path.area
    fill: #e7e7e7;
  
  .axis
    shape-rendering: crispEdges;
  
  .y.axis
    line, path
      fill: none;
      stroke: #000;
    .minor
      opacity:0.5;
    
  .x.axis
    line, path
      fill: none;
      stroke: #000;
    
  .axis
    stroke: #000;
    stroke-width: 1px;