svg {
  font: 9px sans-serif;
}
svg text {
  stroke: none;
}
svg path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.1px;
}
svg path.line.linear {
  stroke: #000;
}
svg path.line.quadratic {
  stroke: #f00;
}
svg path.line.quintic {
  stroke: #008000;
}
svg path.area {
  fill: #e7e7e7;
}
svg .axis {
  shape-rendering: crispEdges;
}
svg .y.axis line,
svg .y.axis path {
  fill: none;
  stroke: #000;
}
svg .y.axis .minor {
  opacity: 0.5;
}
svg .x.axis line,
svg .x.axis path {
  fill: none;
  stroke: #000;
}
svg .axis {
  stroke: #000;
  stroke-width: 1px;
}
.lm-results {
  overflow: hidden;
}
.lm-results table.lm-stats {
  float: left;
}
.lm-results table.lm-stats td {
  padding: 0px 4px;
}
.lm-results table.r-squared {
  float: right;
}
.lm-results table.r-squared td {
  padding: 0px 4px;
}
.lm-results table.coefs {
  clear: both;
  width: 100%;
  padding-top: 10px;
}
.lm-results table.coefs th,
.lm-results table.coefs td {
  text-align: center;
}
.lm-results table.coefs th {
  border-bottom: 1px solid #ddd;
}
.lm-results table.coefs td.label {
  border-right: 1px solid #ddd;
}
html {
  font-size: 8pt;
  font-family: verdana;
  color: #555;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.round-button {
  display: block;
  width: 11px;
  height: 11px;
  padding-left: 0.5px;
  text-decoration: none;
  text-align: center;
  font-size: 7pt;
  font-weight: normal;
  line-height: 9px;
  border: 1px solid #adadad;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 0px 2px #ccc;
  color: #333;
}
.round-button:hover {
  background-color: #f7f7f7;
}
.round-button:active {
  box-shadow: inset 0px 0px 2px #aaa;
}
#studio {
  overflow: hidden;
  width: 1100px;
  margin: auto;
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #ccc;
}
#studio #header {
  margin: 10px;
  border-bottom: 1px solid #ccc;
}
#studio #header h1 {
  float: left;
  margin: 0px;
  margin-bottom: 5px;
  padding: 5px;
  font-family: Georgia;
  font-size: 150%;
}
#studio #header #best-viewed-in {
  display: none;
  width: 260px;
  margin: auto;
  padding: 3px 7px;
  text-align: center;
  font-size: 90%;
}
#studio #header #add-functional-container {
  float: right;
  position: relative;
}
#studio #header #add-functional-container #choose-functional {
  display: none;
  position: absolute;
  top: 25px;
  left: 8px;
  width: 114px;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-top: none;
}
#studio #compatibility {
  display: none;
  overflow: hidden;
  width: 600px;
  margin: 15px auto;
  padding: 20px;
  background-color: #fcfcfc;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}
#studio #compatibility span {
  font-weight: bold;
  font-size: 110%;
}
#studio #compatibility p {
  text-align: justify;
  font-size: 90%;
}
#studio #compatibility div {
  float: left;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: left;
  font-weight: bold;
  text-align: center;
}
#studio #compatibility div span {
  display: block;
  padding-left: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  font-size: 100%;
}
#studio #compatibility div.recommended {
  width: 200px;
}
#studio #compatibility div.other {
  float: right;
  width: 360px;
}
#studio #compatibility div a {
  display: block;
  float: left;
}
#studio #compatibility div img {
  height: 42px;
  margin: 5px 30px;
  outline: none;
  border: 1px solid #fff;
}
#studio #compatibility div img.firefox {
  height: 40px;
  margin: 6px 40px;
}
#studio #compatibility div img.safari {
  height: 47px;
  margin: 0px 10px;
}
#studio #graph {
  position: relative;
  float: left;
  margin: 7px 20px;
  width: 700px;
  height: 560px;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
}
#studio #graph #coordinates {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 85%;
}
#studio #toggle-help {
  float: right;
  margin-right: 10px;
  color: #3383bb;
}
#studio #footer {
  clear: both;
  padding-bottom: 8px;
  text-align: center;
}
#studio #footer hr {
  width: 500px;
  margin: 5px auto;
  padding-top: 5px;
  border: 0;
  border-bottom: 1px dotted #ccc;
  background-color: #eee;
  color: #eee;
}
#studio #footer a {
  color: #3383bb;
}
.functional {
  clear: right;
  float: right;
  width: 338px;
  margin: 20px;
  margin-top: 10px;
  margin-left: 0px;
  font-size: 80%;
}
.functional> h3 {
  overflow: hidden;
  margin-bottom: 3px;
}
.functional> h3 .remove-functional {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
.functional .equations {
  overflow: hidden;
  padding-bottom: 10px;
  font-size: 130%;
  text-align: center;
}
.functional .equations .equation {
  height: 18px;
  display: block;
  padding: 6px 8px;
  background-color: #fafafa;
}
.functional .color {
  float: right;
  margin-top: 5px;
}
.functional .color .colorinput {
  width: 55px;
  border: 1px solid #ddd;
  visibility: hidden;
}
.functional label.show-tangent {
  margin-left: 25px;
  margin-right: 25px;
}
.functional .parameter {
  clear: left;
  margin-top: 5px;
  padding-top: 2px;
}
.functional .parameter .remove-parameter {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
.functional .parameter h3 {
  float: left;
  width: 70px;
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px 4px;
  background-color: #aaa;
  border: 1px solid #999;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 140%;
  font-weight: normal;
}
.functional .parameter input.value {
  width: 40px;
  padding: 0px;
  border: 1px dotted #ddd;
  background-color: #fff;
  text-align: center;
}
.functional .parameter .bound {
  margin-top: 3px;
  font-size: 120%;
}
.functional .parameter .bound.left {
  float: left;
  margin-left: 10px;
}
.functional .parameter .bound.right {
  float: right;
}
.functional .parameter .ui-slider {
  margin: 4px 20px;
  margin-left: 135px;
}
.functional .add-parameter {
  clear: both;
  margin-bottom: 5px;
  float: right;
}
.functional .generate-data {
  clear: both;
}
.functional .generate-data .generate-data-settings {
  overflow: hidden;
  margin-top: 5px;
  padding: 5px;
  background-color: #fafafa;
}
.functional .generate-data .generate-data-settings .number-datapoints {
  float: left;
}
.functional .generate-data .generate-data-settings .number-datapoints input {
  width: 3em;
  border: 1px solid #ddd;
  text-align: center;
}
.functional .generate-data .generate-data-settings .sd {
  clear: both;
  float: left;
}
.functional .generate-data .generate-data-settings .sd input {
  width: 1.7em;
  border: 1px solid #ddd;
  text-align: center;
}
.functional .generate-data .generate-data-settings .bound {
  margin-top: 5px;
  font-size: 120%;
}
.functional .generate-data .generate-data-settings .bound.left {
  float: left;
  margin-left: 25px;
}
.functional .generate-data .generate-data-settings .bound.right {
  float: right;
  margin-right: 12px;
}
.functional .generate-data .generate-data-settings .ui-slider {
  margin: 4px 30px;
  margin-top: 27px;
  margin-left: 155px;
}
.functional .generate-data .generate-data-settings .ui-button {
  float: right;
  width: 60px;
  margin-left: 5px;
}
.functional .generate-data .regress-data-settings {
  overflow: hidden;
  margin-top: 5px;
  padding: 5px;
  background-color: #fafafa;
}
.functional .generate-data .regress-data-settings .lm-results {
  border-top: 1px dotted #ddd;
  padding-top: 5px;
}
