@import 'mixins'
@import 'svg'
@import 'lm'

html
  font-size:8pt;
  font-family:verdana;
  color:#555;
  
.unselectable
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

.round-button
  round-button()

#studio
  overflow:hidden;
  width:1100px;
  margin:auto;
  background-color:#eee;
  border-radius:10px;
  border:1px solid #ccc;
  
  #header
    margin:10px;
    border-bottom:1px solid #ccc;
    
    h1
      float:left;
      margin:0px;
      margin-bottom:5px;
      padding:5px;
      font-family:Georgia;
      font-size:150%;
      
    #best-viewed-in
      display:none;
      width:260px;
      margin:auto;
      padding:3px 7px;
      text-align:center;
      font-size:90%;
    
    #add-functional-container
      float:right;
      position:relative;
      
      #add-functional
        //
        
      #choose-functional
        display:none;
        position:absolute;
        top:25px;
        left:8px;
        width:114px;
        background-color:#fafafa;
        border:1px solid #ccc;
        border-top:none;
        
  #compatibility
    display:none;
    overflow:hidden;
    width:600px;
    margin:15px auto;
    padding:20px;
    background-color:#fcfcfc;
    border:1px solid #ddd;
    border-radius:10px;
    text-align:center;
    
    span
      font-weight:bold;
      font-size:110%;
      
    p
      text-align:justify;
      font-size:90%;
      
    div
      float:left;
      margin-top:5px;
      padding:5px;
      border-radius:10px;
      border:1px solid #ccc;
      background-color:#fff;
      text-align:left;
      font-weight:bold;
      text-align:center;
      
      span
        display:block;
        padding-left:5px;
        text-align:left;
        border-bottom:1px solid #ddd;
        margin-bottom:10px;
        font-size:100%;
      
      &.recommended
        width:200px;
        
      &.other
        float:right;
        width:360px;
      
      a
        display:block;
        float:left;
      
      img
        height:42px;
        margin:5px 30px;
        outline:none;
        border:1px solid #fff;
        
        &.firefox
          height:40px;
          margin:6px 40px;
        
        &.safari
          height:47px;
          margin:0px 10px;
    
  #graph
    position:relative;
    float:left;
    margin:7px 20px;
    width:700px;
    height:560px;
    background-color:#fff;
    border:1px solid #ccc;
    overflow:hidden;
    
    #coordinates
      position:absolute;
      left:10px;
      top:10px;
      font-size:85%;
  
  #toggle-help
    float:right;
    margin-right:10px;
    color:#3383BB;
          
  #footer
    clear:both;
    padding-bottom:8px;
    text-align:center;
    
    hr
      width:500px;
      margin:5px auto;
      padding-top:5px;
      border:0;
      border-bottom:1px dotted #ccc;
      background-color:#eee;
      color:#eee;
    
    a
      color:#3383BB
    
.functional
  clear:right;
  float:right;
  width:338px;
  margin:20px;
  margin-top:10px;
  margin-left:0px;
  font-size:80%;
  
  &> h3
    overflow:hidden;
    margin-bottom:3px;
    
    .remove-functional
      float:left;
      margin-right:5px;
      margin-top:5px;
      
  .equations
    overflow:hidden;
    padding-bottom:10px;
    font-size:130%;
    text-align:center;
    
    .equation
      height:18px;
      display:block;
      padding:6px 8px;
      background-color:#fafafa;
  
  .color
    float:right;
    margin-top:5px;
    
    .colorinput
      width:55px;
      border:1px solid #ddd;
      visibility:hidden;

  label.show-tangent
    margin-left:25px;
    margin-right:25px;
    
  .parameter
    clear:left;
    margin-top:5px;
    padding-top:2px;
    
    .remove-parameter
      float:left;
      margin-right:5px;
      margin-top:5px;
  
    h3
      float:left;
      width:70px;
      margin:0px;
      margin-bottom:5px;
      padding:0px 4px;
      background-color:#aaa;
      border:1px solid #999;
      border-radius:4px;
      color:#fff;
      text-align:center;
      font-size:140%;
      font-weight:normal;
      
    input.value
      width:40px;
      padding:0px;
      border:1px dotted #ddd;
      background-color:#fff;
      text-align:center;
      
    .bound
      margin-top:3px;
      font-size:120%;
      &.left
        float:left;
        margin-left:10px;
      &.right
        float:right;
        
    .ui-slider
      margin:4px 20px;
      margin-left:135px;
  
  .add-parameter
    clear:both;
    margin-bottom:5px;
    float:right;
    
  .generate-data
    clear:both;
  
    .generate-data-settings
      overflow:hidden;
      margin-top:5px;
      padding:5px;
      background-color:#fafafa;
      
      .number-datapoints
        float:left;
        
        input        
          width:3em;
          border:1px solid #ddd;
          text-align:center;
      
      .sd
        clear:both;
        float:left;
        
        input
          width:1.7em;
          border:1px solid #ddd;
          text-align:center;

      .bound
        margin-top:5px;
        font-size:120%;
        &.left
          float:left;
          margin-left:25px;
        &.right
          float:right;
          margin-right:12px;
          
      .ui-slider
        margin:4px 30px;
        margin-top:27px;
        margin-left:155px;
      
      .ui-button
        float:right;
        width:60px;
        margin-left:5px;
        
    .regress-data-settings
      overflow:hidden;
      margin-top:5px;
      padding:5px;
      background-color:#fafafa;
      
      .lm-results
        border-top:1px dotted #ddd;
        padding-top:5px;